html {
    color: #000;
    background: #fff;
}
body {
    font-family: 'Helvetica Neue',Verdana, Helvetica, sans-serif;
    font-size: .9em;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #909090;
}
h1 {
    font-size:1.8em;
}
h2 {
    font-size:1.6em;
}
h3 {
    font-size:1.4em;
}
h4 {
    font-size:1.2em;
}
h5 {
    font-size:0.9em;
}
h1,h2,h3,h4,h5 {
    font-weight:bold;
    margin:5px 0 10px 0;
}

table td {
	padding: 5px;
}

form {
    width: 470px;
}

form fieldset {
    padding-top:20px;
    background:#fdfdfd;
    border:1px solid #d9d9d9;
    color: black;
}

form fieldset div {
    padding: 5px;
}

form legend {
    /* display:none; */
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 15px;
    padding:5px 5px 5px 5px;
    background:#c0c0c0;
    border-right: 1px solid #b5b5b5;
    border-bottom: 1px solid #b5b5b5;
}

form div.row {
    clear: both;
    padding: 10px;
}

form div.row label {
    float: left;
    width: 130px;
    text-align: right;
}

form div.row input, select {
    float: right;
    width: 275px;
}

form div.row.values div {
    float:right;
    width:275px;
}
form div.row.values div#attr_cont {
    float:right;
    width:275px;
}

form div.row.values div#attr_cont div {
    float:left;
    width:135px;
}

form div.row.values div#attr_cont div input {
    float:none;
    width:auto;
}

form div.row div.radio-button {
    float:right;
    width:285px;
}

form div.row div.radio-button input {
    width:20px;
    float:left;
}

form div.row div.radio-button label {
    float:left;
    width:50px;
    text-align:left;
}


form div.row span.text {
    float: right;
    width: 275px;
}

form div.row span.field-error {
    clear: right;
    float: right;
    width: 275px;
    color: red;
    margin: 10px 0;
}

form div.row input.submit {
    width: 100px;
}

form div.buttons.submit-buttons {
    margin-left:170px;
    margin-top:25px;
    margin-bottom:10px;
}

form div.form-buttons {
    /*margin-left:170px;*/
    margin-top:25px;
    margin-bottom:25px;
    margin-left: auto;
    margin-right:auto;
    /*text-align:center;*/
}

.red {
    color : red;
}

.clearboth {
    clear: both;
}

#header {
    height:35px;
    background:#333 url('../images/tile.png') repeat-x;
    color:#d0d0d0;
    border-bottom:1px solid #111;
    vertical-align:middle;
    line-height:35px;
}
#header #user_greeting {
    float:right;
    margin-right:15px;
}
#container {
    height:100%;
    width:100%;
    position:absolute;
}
#content_container {
    margin:30px auto 10px auto;
    width:980px;
    background:#fff;
    color:#666666;
    position:relative;
}
#content {
    margin-left:140px;
    padding:25px 30px;
    background:#fff;
    color:#666666;
    border:1px solid #f4f4f4;
    overflow:hidden;
}
#content h1,h2,h3,h4,h5 {
    color:#000;
}
#footer_wrap {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    z-index: 3;
}

#footer_container {
    height:15px;
    background:#333 url('../images/tile.png') bottom repeat-x;
    border-top:1px solid #222;
}
#footer {
    font-size:.7em;
    position:relative;
    color:#888;
    text-align:center;
    line-height:15px;
    vertical-align:middle;
}
#nav_container {
    position:absolute;
    width:100px;
    top:-30px;
    left:0;
}

#nav {
    margin-top:20px;
    border:1px solid #dfdfdf;
    border-bottom:none;
    background:rgb(245,245,245);
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
#nav ul {
    list-style:none;
    padding:0;
    margin:0;
}
#nav li {
    padding:5px 5px 5px 10px;
    margin:0;
    color:#888;
    border-bottom:1px solid #dfdfdf;
}
#nav li a {
    color: #6e6e6e;
}
#nav li a:hover {
    color: #333;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #f3f3f3;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
}

.string, .regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.comment {
  color: #777;
  font-style: oblique;
}

.number {
  color: #369;
}

.class, .special {
  color: #1181B8;
}

a:link, a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #666;
}

.hint {
  position: absolute;
  right: 0;
  width: 1280px;
  font-size: 12px;
  color: #999;
}

.info_details_results_div {
    padding: 2px;
    border-radius: 15px;
    margin: 5px;
    font-size: 12px;
}

.info_details_child_div {
    float : left;
    width : 300px;
    font-size: 12px;
}
