#create_new_collection_div {
    margin-top: 30px;
    padding: 5px;
    border: 1px solid #777777;
    border-radius: 15px;
    margin: 10px;
    background-color: #c3d5e8;
}

#new_collection_name {
    float: left;
    margin-left: 20px;
}
#new_collection_name_label {
    float: left;
    width: 40px;
}