

pre {
    border: solid 1px #000;
    background-color: #ccc;
    padding: 10px;
    margin: 10px;
}

.sort_buttongroup_label {
    width: 70px;
    margin-right: 10px;
}

.search-button-style {
    float: left;
    padding: 5px;
}

.yui-menu-button em.yui-button-label {
    font-style: normal;
    display: block;
    text-align: left;
    white-space: nowrap;
    width: 5em;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.yui-skin-sam .yui-ac-container {
    /*width:275px;*/
    left:0;
}

.yui-skin-sam .yui-ac-input {
    position: static;
    width: 98%;
    margin-top: 2px;
    padding: 2px;
}

.yui-skin-sam .yui-radio-button-checked, .yui-skin-sam .yui-checkbox-button-checked {
    border-color: #304369;
    background: #243356;
}

.yui-skin-sam .yui-button button, .yui-skin-sam .yui-button a, .yui-skin-sam .yui-button a:visited {
    padding: 0 4px;
}

.yui-skin-sam .yui-button {
    margin: 3px;
    margin-bottom:-0.5em;
    vertical-align: baseline;
}

.ygtvlabel {
    font-size: 12px;
}

li.yui-button-selectedmenuitem {
    background: url("../images/checkbox.png") left center no-repeat;
}

.yui-skin-sam .yui-dt table {
    font-family: 'Helvetica Neue', Verdana, Helvetica, sans-serif;
    font-size: 12px;
}

.yui-skin-sam .yui-navset .yui-nav,
.yui-skin-sam .yui-navset .yui-navset-top .yui-nav { /* protect nested tabviews from other orientations */
    border:solid #243356; /* color between tab list and content */
    border-width:0 0 5px;
}

.yui-skin-sam .yui-navset .yui-nav a,
.yui-skin-sam .yui-navset .yui-navset-top .yui-nav a {
    background:#efefef;
    border:solid #243356;
    border-top-color: #243356;
    border-width: 0 1px;
    color:#000;
    text-decoration:none;
}

.yui-skin-sam .yui-navset .yui-nav a em,
.yui-skin-sam .yui-navset .yui-navset-top .yui-nav a em {
    border:solid #243356;
    border-width:1px 0 0;
    padding:0.25em .75em;
    left:0; right: 0; bottom: 0; /* protect from other orientations */
    top:-1px; /* for 1px rounded corners */
    position:relative;
}

.yui-skin-sam .yui-navset .yui-nav .selected a,
.yui-skin-sam .yui-navset .yui-nav .selected a:focus, /* no focus effect for selected */
.yui-skin-sam .yui-navset .yui-nav .selected a:hover { /* no hover effect for selected */
    background: #243356;
}

.yui-skin-sam .yui-navset .yui-nav a:hover,
.yui-skin-sam .yui-navset .yui-nav a:focus {
    background: slategray;
}

.yui-skin-sam .yui-navset .yui-nav .selected a,
.yui-skin-sam .yui-navset .yui-nav .selected a em {
    border-color: #243356; /*selected tab border color */
}

.yui-skin-sam .yui-navset .yui-content {
    background: #efefef; /* content background color */
}

.yui-skin-sam .yui-navset .yui-content,
.yui-skin-sam .yui-navset .yui-navset-top .yui-content {
    border:1px groove #243356; /* content border */
    border-top-color: #243356; /* different border color */
    padding:0.25em 0.5em; /* content padding */
    padding-bottom: 10px;
}

.yui-skin-sam .yui-ac-content li {
    margin: 0;
    padding: 2px 5px;
    cursor: default;
    white-space: normal;
    list-style: none;
    zoom: 1;
    word-wrap: break-word;
}

.yui-menu-button em.yui-button-label {
    width: 15em;
}

.search-result-div {
    border: 1px inset gray;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    background: #EFEFEF;
}

.search-result-header {
    font-size : 16px;
    font-weight : bold;
    color : #4682b4;
}

.search-result-inner-container-label {
    float : left;
    width: 40%;
    font-weight: bold;
    font-size: 12px;
}

.search-result-inner-container {
    float : left;
    width: 60%;
    font-size: 12px;
}

.search-result-button {
    float: right;
    width: 3px;
    height: 15px;
    bottom: 30px;
    margin-bottom: -30px;
    padding-right: 5px;
}

form div.row label {
    width : 160px;
    text-align: left;
}

form div.row {
    clear: both;
    padding: 5px;
}

.facet_option_div {
    border: 1px solid black;
    float: left;
    border-radius: 5px;
    margin: 2px;
    padding: 5px 15px 5px 5px;
    background-color: lightgray;
}

.search_tab_style {
    padding: 5px;
}

#content {
    min-height: 600px;
}
#show_query {
    font-size: 10px;
    padding: 5px 0px 5px 0px;
}

#search_tab {
    width: 500px;
}

#facet_options {
    padding: 20px 0px 10px 0px;
}

#general_query_search_input {
    width: 450px;
    margin: 5px 0px 0px 0px;
    height: 50px;
    padding: 2px;
    font-family: 'Helvetica Neue', Verdana, Helvetica, sans-serif;
    font-size: 12px;
}

#search_result_container {
    float: left;
    width: 100%;
}

#overlay {
    visibility: visible;
    z-index: 5;
    background-color: white;
    border: 1px solid #CCC;
    padding: 5px;
    max-width: 300px;
    min-width: 193px;
}

#num_found {
    font-weight: bold;
}

#tree_view, #doc_view {
    margin: 5px 0 0 5px;
}

#sort_asc_label {
    width : 70px;
    margin-right: 10px;
    margin-left:-15px;
}

#sort_date_label {
    width : 300px;
    margin-right: 10px;
    padding: 5px;
}

#search_input_label {
    width: 100px;
}

#account_name_input {
    padding: 2px;
    margin-left: 1px;
}

#preview_container {
    overflow: hidden;
    float: right;
    width: 400px;
    height: 400px;
}

#constrain_by_date {
    padding: 10px;
    width: 600px;
}

#date_begin, #date_end {
    padding: 2px;
}